.custom-card {
    background-color: #feea58; 
  }

.custom-input{
    background-color: #e8e8e8; 
    height: 50px;
}
.custom-item{
    --background: #e8e8e8;
}

.ion-buttons-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  

  
