<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Page 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Page 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Form Overview</ion-card-title>
      <ion-card-subtitle>This debrief form will be used for evaluation purposes, to understand the size and nature of our community, what are the main themes discussed, some highlights or challenges along the way, etc. There are questions that are required and questions that you will fill only if it applies to the current activity. If a question does not apply, please leave it blank, do not write n/a. If you are required to write numbers (i.e. Participants' sections), please write numbers; if no participants of a specific age are present, please write 0.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Question 4</ion-card-title>
      <ion-card-subtitle>Site Contact - Individual(s) name & contact </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input style="height: 100px; border: 1px solid #ccc; "placeholder="Enter name(s) here"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Question 5</ion-card-title>
      <ion-card-subtitle> Partners for this Art Hive - individuals, programs, projects, or organizations  </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input style="height: 100px; border: 1px solid #ccc; "placeholder="Enter partner(s) here"></ion-input>
      </ion-item>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Question 6</ion-card-title>
      <ion-card-subtitle> List facilitator names</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input style="height: 100px; border: 1px solid #ccc; "placeholder="Enter name(s) here"></ion-input>
      </ion-item>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Question 7</ion-card-title>
      <ion-card-subtitle> Number of participants</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input style="height: 50px; border: 1px solid #ccc; "placeholder="Enter number of participants here"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Question 8</ion-card-title>
      <ion-card-subtitle> Number of participants (include facilitators, please write the total numbers of participants present in the activity - write a number only, no text) </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input style="height: 50px; border: 1px solid #ccc; "placeholder="Enter number here"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-header> 
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" routerLink="/tabs/tab1">
          <ion-icon name="arrow-back"></ion-icon>
          Previous
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill="clear" routerLink="/form-page3">
          Next
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> 

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="tab2" routerLink="/tabs/tab2">
        <ion-icon aria-hidden="true" name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab1" routerLink="/tabs/tab1">
        <ion-icon aria-hidden="true" name="clipboard"></ion-icon>
        <ion-label>Form</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3" routerLink="/tabs/tab3">
        <ion-icon aria-hidden="true" name="albums"></ion-icon>
        <ion-label>Previous Forms</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab4" routerLink="/tabs/tab3">
        <ion-icon aria-hidden="true" name="trending-up"></ion-icon>
        <ion-label>Data Analysis</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
