<ion-header>
  <ion-toolbar>
    <ion-title>Add New Question</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter the question you want to add to the form</ion-label>
    <ion-textarea [(ngModel)]="questionLabel" required></ion-textarea>
  </ion-item>

  <ion-footer>
    <ion-button expand="full" (click)="addQuestion()" [disabled]="!questionLabel">Add Question</ion-button>
  </ion-footer>
</ion-content>


