<ion-header [translucent]="true">
  <ion-toolbar class="header-background">
    <ion-title class="custom-title-background">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="page-background">
    <div class="button-container">
      <ion-button expand="block" routerLink="/tabs/tab1" class="large-button">Fill Out Form</ion-button>
      <ion-button expand="block" routerLink="/tabs/tab3" class="large-button">Your Previous Forms</ion-button>
      <ion-button expand="block" routerLink="/tabs/dapage"class="large-button">Data Analysis</ion-button>
    </div>
  </ion-content>  

</ion-content>
