ion-content {
    --background: none;
  }

  ion-toolbar {
    --background: none;
  }

.custom-list-container {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px; /* Rounded corners for list */
  height: 150px;
  overflow-y: auto;
}