<ion-header [translucent]="true" >
  <ion-toolbar class="header-background">
    <ion-title class="custom-title-background">
      Previous Forms
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">

  <ion-list class="custom-list-container">
    <ion-radio-group [(ngModel)]="selectedItem" (ionChange)="displaySelectedDocument()">
    <ion-item *ngFor="let response of formResponses">
      <ion-label>
        <h2>{{ response.timestamp?.toDate() | date: 'medium' }}</h2>
      </ion-label>
      <ion-radio slot="end" [value]="response.timestamp"></ion-radio>
    </ion-item>
    </ion-radio-group>
  </ion-list>

  <!-- <ion-button (click)="addFormResponse()">Add Form Response</ion-button> -->
  <ion-button (click)="getFormResponses()">Get Form Responses</ion-button>
  <ion-button (click)="exportToExcel()">Export To Excel</ion-button>

    <!-- <div *ngIf="selectedDocumentData">
      <ion-toolbar>
        <ion-title class="custom-title-background">
          Selected Previous Form
        </ion-title>
      </ion-toolbar>


      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Time of Submission: {{ selectedDocumentData.timestamp?.toDate() | date: 'medium' }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
     
          <ng-container *ngFor="let item of orderedKeys; let i = index">
            <ng-container *ngIf="item.length > 0">
         
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Question {{ i + 1 }}:</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <h2>{{ selectedDocumentData[item[0]] }}</h2>
      
                  
                  <ng-container *ngFor="let subKey of item.slice(1)">
                    <ng-container *ngIf="isArray(selectedDocumentData[subKey])">
                      <div *ngFor="let subItem of selectedDocumentData[subKey]; let j = index">
                        <ng-container *ngFor="let key of getKeys(subItem)">
                          <span>1{{ subItem[key] || 'No value available' }}</span><br>
                        </ng-container>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!isArray(selectedDocumentData[subKey])">
                      <span>{{ selectedDocumentData[subKey] || 'No response' }}</span><br>
                    </ng-container>
                  </ng-container>
                </ion-card-content>
              </ion-card>
            </ng-container>
          </ng-container>
        </ion-card-content>
      </ion-card>      
      </div> -->


      <div *ngIf="selectedDocumentData">
        <ion-toolbar>
          <ion-title class="custom-title-background">
            Selected Previous Form
          </ion-title>
        </ion-toolbar>
      
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Time of Submission: {{ selectedDocumentData.timestamp?.toDate() | date: 'medium' }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
       
            <ng-container *ngFor="let item of orderedKeys; let i = index">
              <ng-container *ngIf="item.length > 0">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Question {{ i + 1 }}:</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <h2>{{ selectedDocumentData[item[0]] }}</h2> 
      
                  
                    <ng-container *ngFor="let mainKey of item.slice(1)">
                      <ng-container *ngIf="isArray(selectedDocumentData[mainKey])">
                        <div *ngFor="let subItem of selectedDocumentData[mainKey]">
                      
                          <ng-container *ngFor="let subKey of getOrderedSubKeys(mainKey)">
                            <span>{{ subItem[subKey] || 'No value available' }}</span><br>
                          </ng-container>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="!isArray(selectedDocumentData[mainKey])">
                        <span>{{ selectedDocumentData[mainKey] || 'No response' }}</span><br>
                      </ng-container>
                    </ng-container>
                  </ion-card-content>
                </ion-card>
              </ng-container>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </div>
      
      
      
      
      
    

     
</ion-content>
