ion-content {
    --background: none;
  }

  ion-toolbar {
    --background: none;
  }

.custom-list-container {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px; /* Rounded corners for list */
  height: 150px;
  overflow-y: auto;
}

.time-stamp-title {
  color: var(--ion-color-primary);
  font-size: 3.3vw;
  text-align: center;
}

.button-container {
  display: flex;             /* Aligns buttons horizontally */

  justify-content: center;   /* Centers buttons horizontally */
  padding: 0 10px;
}

.button-container ion-button {
  flex: 1;                   /* Makes each button occupy equal space */
  text-align: center;
  font-size: 13px;

}

.question-label{
  color: var(--ion-color-primary);
}

.answer{
  color: var(--ion-color-primary);
  -webkit-user-select: text; /* For Safari */
  -moz-user-select: text;    /* For Firefox */
  -ms-user-select: text;     /* For IE/Edge */
  user-select: text;         /* Standard syntax */
}