<ion-header [translucent]="true" >
  <ion-toolbar class="header-background">
    <ion-title class="custom-title-background">
      Previous Forms
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Tab 3</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-select aria-label="fruit" placeholder="Select fruit">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="addFormResponse()">Add Form Response</ion-button>
  <ion-button (click)="getFormResponses()">Get Form Responses</ion-button>
</ion-content>
