<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align:center" >Login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input id="email" type="email" label="Email" placeholder="email@siue.edu" labelPlacement="floating" required></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-input id="password" label="Password" type="password" labelPlacement="floating" required></ion-input>
          </ion-item>

          <div>
            <ion-button class="forgot-id" fill="clear" >forgot password?</ion-button>
          </div>
          
          <div >
            <ion-button class="login-button" fill="outline" routerLink="/homepage">Login</ion-button>
          </div>

          <div style="display: flex; align-items: center;">
            <ion-label class="register-label" style="text-align:center">Don't have an account?</ion-label>
            <ion-button class="register-button" routerLink="/register" fill="clear" style="text-align:center">Signup</ion-button>
          </div>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
