.signup-button{
    display: flex;
    justify-content: center; 
    width: 99%;
    text-transform: none;
}

.login-button{
    // //margin-left: -10px;
    // font-size: 12px;
    // text-align:center;
    // //text-decoration:underline;
    // //text-transform:none;
    font-size: 3.2vw;
    display: flex;             // Enables flexbox for alignment /
    align-items: center;       // Centers text vertically /
    justify-content: center;   // Centers text horizontally /
    text-align: center;   
}

.login-label{
    font-size: 10px;
    color:rgb(150, 146, 146);
    margin-left: 41px;
    margin-right: 2px; 
    font-size:12px;
}
