#groupMembers{
  .groupMembersName{
    width: 41%;
    text-align: left;
  }

  .addMember {
    margin-left: 11px;
    width: 30%;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 16px;
  }

  .removeMember{
    width: 42%;
    text-transform: none;
    font-size: 16px;
  }
}

#dates{
  .DateLabels{
    width: 47%;
    text-align: left;
    font-size: 24px;
    text-transform: none;
    margin-bottom: 8px;
  }
  
  .dateInput{
    color: var(--ion-color-primary);
  }
}

#contacts{
  .phoneNum{
    width: 38%;
    text-align: left;
    font-size: 16px;
    text-transform: none;
  }

  .removeContact{
    width: 42%;
    text-transform: none;
    font-size: 16px;
  }

  .addContact{
    margin-left: 11px;
    width: 30%;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 16px;
  }
}

#partners{
  .partnerNameLabel{
    width: 41%;
    text-align: left;
  }

  .removePartner{
    width: 42%;
    text-transform: none;
    font-size: 16px;
  }

  .addPartner{
    margin-left: 11px;
    width: 30%;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 16px;
  }
}

#facilitator{
  .facilitatorName{
    width: 60%;
    text-align: left;
  }

  .removeFacilitator{
    width: 46%;
    text-transform: none;
    font-size: 16px;
  }

  .addFacilitator{
    margin-left: 11px;
    width: 36%;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 16px;
  }
}

#numParticipants{
  .participantsLabel{
    width: 70%;
    text-align: left;
    text-transform: none;
  }
}

#numSeniors{
  .SeniorLabel{
    width: 70%;
    text-align: left;
    text-transform: none;
  }
}

#numStudents{
  .numStudentsLabel{
    width: 52%;
    text-align: left;
    text-transform: none;
  }

  .eduLabel{
    width: 55%;
    text-align: left;
    text-transform: none;
  }

  .removeInstitution{
    width: 45%;
    text-transform: none;
    font-size: 16px;
  }

  .addInstitution{
    margin-left: 11px;
    width: 35%;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 16px;
  }
}

#numChildren{
  .childrenLabel{
    width: 70%;
    text-align: left;
    text-transform: none;
  }
}

#newParticipants{
  .newParticipants{
    width: 70%;
    text-align: left;
    text-transform: none;
  }
}

#discovery{
  .otherLabel{
    text-transform: none;
    font-size: 22px;
    color: var(--ion-color-primary);
    margin-bottom: 8px;
  }
}

#dataCollectionExplanation{
  .dataCollectionLabels{
    text-transform: none;
    font-size: 16px;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
    color: var(--ion-color-primary);
  }
}

#CreativeArtsExpression{
  .CreativeArtsExpressionLabel{
    text-transform: none;
    font-size: 16px;
    text-align: left;
    display: block;
    color: var(--ion-color-primary);
  }
}

#formsOfExpressions{
  .formsOfExpressionsLabel{
    width: 30%;
    text-align: left;
    text-transform: none;
  }

  .numOfExpressionLabel{
    width: 50%;
    text-align: left;
    text-transform: none;
  }

  .removeExpression{
    width: 63%;
    text-transform: none;
    font-size: 16px;
  }

  .addExpression{
    margin-left: 11px;
    width: 37%;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 16px;
  }
}

#materialsUsed{
  .materialsUsedLabel{
    width: 80%;
    text-align: left;
    text-transform: none;
    //position: stacked;
    font-size: 17px;
    text-wrap: nowrap;
    margin-bottom: 4px;
  }

  .numMaterialsUsedLabel{
    width: 80%;
    text-align: left;
    text-transform: none;
  }

  .removeMaterialsUsed{
    width: 95%;
    text-transform: none;
    font-size: 16px;
  }

  .addMaterialsUsed{
    margin-left: 11px;
    width: 80%;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 16px;
  }
}

#discussionThemes{
  .discussionThemesLabel{
    text-transform: none;
    font-size: 16px;
    text-align: left;
    display: block;
    color: var(--ion-color-primary);
  }
}

#highlights{
  .highlightsLabel{
    text-transform: none;
    font-size: 16px;
    text-align: left;
    display: block;
    color: var(--ion-color-primary);
  }
}

#challenges{
  .challengesLabel{
    text-transform: none;
    font-size: 16px;
    text-align: left;
    display: block;
    color: var(--ion-color-primary);
  }
}

#actionStepsandFollowUp{
  .actionStepsandFollowUpLabel{
    text-transform: none;
    font-size: 16px;
    text-align: left;
    display: block;
    color: var(--ion-color-primary);
  }
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rounded-button {
  border: 2px solid;
  border-radius: 10px;
  background-color: rgb(95, 185, 5);
}
ion-textarea{
  border: 1px solid;
  border-color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
  padding-inline-start: 4px;

}

ion-item {
  display: flex; 
  align-items: center; 
}

ion-card-subtitle{
  text-align: left;
  display: block;
  text-transform: none;
  font-size: 16px;
}

ion-input {
  --placeholder-color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
  height: 50px;
  padding: 5px;
  border: 3px underline var(--ion-color-primary);
}

ion-content {
  --background: none;
}

ion-toolbar {
  --background: none;
}

.adminEditFormButton {
  width: auto;
  text-transform: none;
}

.addQuestionButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the button horizontally */
  gap: 1rem; /* Space between the button and the cards */
  padding: 1rem; /* Optional: Add padding for better appearance */
}

.deleteQuestionButtonContainer{
  display: flex;
  justify-content: flex-end; /* Moves the button to the right */
  margin-right: 1rem;
}
.deleteQuestionButton{
  text-transform: none;
  width: auto;
}