.chart-container {
    position: relative;
  }
  
  .chart-title {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: Arial;
    color: var(--ion-color-primary);
  }

  ion-content {
    --background: none;
  }

  ion-toolbar {
    --background: none;
  }