<ion-header [translucent]="true">
  <ion-toolbar class="header-background">
    <ion-title class="custom-title-background">
      Data Analysis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">
  <ion-card>
    <div class="chart-container">
      <canvas #attendanceDemographicDoughnutCanvas></canvas>
    </div>
  </ion-card>
  
  <ion-card>
    <div class="chart-container">
      <canvas #PreviousAttendanceDoughnutCanvas></canvas>
    </div>
  </ion-card>

  <ion-card>
    <div class="chart-container">
      <canvas #discoveryDoughnutCanvas></canvas>
    </div>
  </ion-card>

  <ion-card>
    <div class="chart-container">
      <canvas #etcDoughnutCanvas></canvas>
    </div>
  </ion-card>
</ion-content>
