.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Takes full screen height */
  padding: 20px;
}

canvas {
  max-width: 100%; /* Ensures the chart scales responsively */
  max-height: 400px; /* Limits the max height */
}

ion-content {
  --background: none;
}

ion-toolbar {
  --background: none;
}